dataset/
runs/
**/.env
**/generated_images/
**/videos/
**/models/
models/
**/__pycache__/
**/fine_tuning/
**/pruebas/
**/completed_tasks/
**/dataset/
dataset.zip
ByteTrack/
**/yolo11n.pt
**/soccernet_dataset/
.vscode/